<!doctype html>
<title>Robo control panel</title>

<h1>Control panel</h1>


<button type="button" onclick="changePose('hottie')">A hot pose </button>
<button type="button" onclick="changePose('pose1')">Pose 1 </button>
<button type="button" onclick="changePose('pose2')">Pose 2 </button>
<button type="button" onclick="changePose('pose3')">Pose 3 </button>


<script type="application/javascript" src="{{ url_for('static', filename='functionality.js') }}"></script>
<script type="application/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.17.1/axios.min.js"></script>