<!DOCTYPE html>
<html>
<head>
  <title>Robo Joystick</title>

</head>
<style>
.wrapper {
display: grid;
grid-template-columns: repeat(2, 1fr);
grid-gap: 10px;
grid-auto-rows: minmax(100px, auto);
}
.one {
grid-column: 1 / 2;
grid-row: 1;
}
.two {
grid-column: 2 / 2;
grid-row: 1;
}
.jpad {
  height: 200px;
  width: 200px;
  border: thin solid black;
  position: relative;
}
.right {
  position: absolute;
  right: 0px;
}
.left {
  position: absolute;
  left: 0px;
}
</style>
<body>
  <h1>RobotJoystick</h1>
  <hr/>
  <div class="wrapper">
    <div class="one">
      <div class="jpad left" id="leftJoystick"></div>
    </div>
    <div class="two">
      <div class="jpad right" id="rightJoystick"></div>
    </div>
  </div>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="/static/nipplejs.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
  <script>
    var leftStick, rightStick;
    // setup endpoint here
    var endpoint = "/testJoystick";

    $(document).ready(function(){
      leftStick = nipplejs.create({
        zone: document.getElementById("leftJoystick"),
        color: 'red'
      });
      rightStick = nipplejs.create({
        zone: document.getElementById("rightJoystick"),
        color: 'blue'
      });

      handleSticks(leftStick, rightStick);
    });

    function handleSticks (l, r){
      l.on('start', function(e, d){
        console.log(e, d);
      }).on('dir:up plain:up dir:left plain:left dir:down ' +
                    'plain:down dir:right plain:right', 
        function(e, d){
          console.log("DATA:", (d.angle.degree+180));
          var angle = d.angle.degree+180;
          var pitchCMD = {
            motor: "PITCH",
            action: 0
          };
          var yawCMD = {
            motor: "YAW",
            action: 0
          }
          if(angle > 0 && angle < 35){
            console.log("RIGHT");
            pitchCMD.action = 0;
            yawCMD.action = -1;
          } else if(angle > 35 && angle < 75){
            console.log("RIGHT/DOWN");
            pitchCMD.action = -1;
            yawCMD.action = -1;
          } else if(angle > 75 && angle < 105){
            console.log("DOWN");
            pitchCMD.action = -1;
            yawCMD.action = 0;
          } else if(angle > 115 && angle < 145){
            console.log("DOWN/LEFT");
            pitchCMD.action = -1;
            yawCMD.action = 1;
          } else if(angle > 145 && angle < 200){
            console.log("LEFT!");
            pitchCMD.action = 0;
            yawCMD.action = 1;
          } else if(angle > 200 && angle < 250){
            console.log("UP/LEFT");
            pitchCMD.action = 1;
            yawCMD.action = 1;
          } else if(angle > 250 && angle < 300){
            console.log("UP");
            pitchCMD.action = 1;
            yawCMD.action = 0;
          } else if(angle > 300 && angle < 325) {
            console.log("UP/RIGHT");
            pitchCMD.action = 1;
            yawCMD.action = -1;
          } else if(angle > 325 && angle <= 360){
            console.log("RIGHT");
            pitchCMD.action = 0;
            yawCMD.action = -1;
          }

          // send out the motor command
          // we do two async requests unrelated to each other
          axios.put(endpoint, yawCMD).then(function(res) {
            console.log("YAW cmd response", res);
          });

          axios.put(endpoint, pitchCMD).then(function(res) {
            console.log("PITCH cmd response", res);
          });

        }).on("end", function() {
          axios.put(endpoint, {motor: "YAW", action:0}).then(function(res) {
          });
          axios.put(endpoint, {motor: "PITCH", action:0}).then(function(res) {
          });
        });;
        
    }

  </script>
</body>
</html>
